# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.db
db.sqlite3
media/
staticfiles/
.env
.env.local

# Node/React
node_modules/
build/
dist/

# Entornos virtuales
venv/
ENV/
env/

# PyCharm / VSCode
.idea/
.vscode/

# Otros
*.DS_Store
*.bak
secret.key
